.btn {
	background: #2ab27b;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: Slack-Lato, appleLogo, sans-serif;
  line-height: 1.2rem;
  font-weight: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  border: none;
  border-radius: .25rem;
  box-shadow: none;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.btn: after {
	position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: .25rem;
}

a.btn {
	color: #fff;
}

.no_touch .btn.hover,
.no_touch .btn: focus,
.no_touch .btn: hover {
	outline: 0;
  text-decoration: none;
}

.btn.hover,
.btn: focus,
.btn: hover {
	background: #2ab27b;
color: #fff;
}

.btn.hover: after,
.btn: focus: after,
.btn: hover: after {
	box-shadow: inset 0 -2px rgba(0, 0, 0, .25);
}

.btn.active,
.btn: active {
	color: #fff;
}

.btn.active: after,
.btn: active: after {
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, .2);
}

.btn_outline {
	background: #fbfbfa;
  color: #555459 !important;
  font-weight: 700;
  text-shadow: none;
}

.btn_outline: after {
	border: 1px solid #C7CACD;
}

.btn_outline.btn_transparent {
	background-color: transparent!important;
  color: rgba(255, 255, 255, .9)!important;
}

.btn_outline.btn_transparent: after {
	border: 1px solid rgba(255, 255, 255, .5);
}

.btn_outline.btn_transparent.active,
.btn_outline.btn_transparent.hover,
.btn_outline.btn_transparent: active,
.btn_outline.btn_transparent: focus,
.btn_outline.btn_transparent: hover {
	color: #3aa3e3!important;
  background: rgba(255, 255, 255, .9)!important;
}

.btn_outline.btn_transparent.active: after,
.btn_outline.btn_transparent.hover: after,
.btn_outline.btn_transparent: active: after,
.btn_outline.btn_transparent: focus: after,
.btn_outline.btn_transparent: hover: after {
	box-shadow: none;
  border-color: transparent;
}

.btn_outline.btn_transparent.active,
.btn_outline.btn_transparent: active {
	background-color: rgba(255, 255, 255, .8)!important;
}

.btn_outline.hover,
.btn_outline: focus,
.btn_outline: hover {
	background: #fff;
  color: #3aa3e3 !important;
}

.btn_outline.hover: after,
.btn_outline: focus: after,
.btn_outline: hover: after {
	box-shadow: none;
}

.btn_outline: active {
	color: #3aa3e3;
}

.btn_outline: active: after {
	box-shadow: inset 0 1px 1px rgba(0,0, 0, .2);
}

.btn_outline.active {
	color: #666!important;
  margin-top: 0;
  font-weight: 900;
}

.btn.btn_outline.btn_danger,
.btn.btn_outline.btn_warning {
	background: #fbfbfa!important;
}

.btn.btn_outline.btn_danger: focus,
.btn.btn_outline.btn_danger: hover,
.btn.btn_outline.btn_warning: focus,
.btn.btn_outline.btn_warning: hover {
	background: #fff!important;
}

.btn.btn_outline.btn_warning: focus,
.btn.btn_outline.btn_warning: hover {
	color: #dfa941!important;
}

.btn.btn_outline.btn_warning: focus: after,
.btn.btn_outline.btn_warning: hover: after {
	border-color: #dfa941;
}

.btn.btn_outline.btn_danger: focus,
.btn.btn_outline.btn_danger: hover {
	color: #cb5234!important;
}

.btn.btn_outline.btn_danger: focus: after,
.btn.btn_outline.btn_danger: hover: after {
	border-color: #cb5234;
}

.btn.btn_outline.disabled,
.btn.btn_outline.disabled: hover {
	color: #9e9ea6 !important;
  background: #fff !important;
}

.btn_unstyle {
	-webkit-font-smoothing: antialiased;
  font-family: Slack-Lato,appleLogo, sans-serif;
  background: 0 0;
  border: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.btn.btn_border {
	background: 0 0;
  border: 2px solid #fff;
}

.btn.btn_border: after {
	box-shadow: none;
}

.btn.disabled,
.btn.disabled: active,
.btn.disabled: hover,
.btn: disabled,
.btn: disabled: active,
.btn: disabled: hover {
	background-color: #9e9ea6 !important;
  opacity: .35;
  -moz-opacity: .35;
  -khtml-opacity: .35;
  box-shadow: none !important;
  pointer-events: none;
}

.btn {
	padding: 8px 14px 9px;
  font-size: 15px;
}

.btn_small {
	padding: 5px 10px;
  font-size: 14px;
}

.btn_small i: before {
	font-size: 15px;
}

.btn_large {
	padding: 14px 2pc 1pc;
  font-size: 20px;
}

.btn_extra_large {
	font-size: 1.125rem;
  padding: 1.25rem;
}

.btn_expand {
	width: 100%;
  display: block;
}

@media only screen and (max-width: 640px) {
    .btn_large {
    padding: 14px 20px 1pc;
  }

  .btn_extra_large {
    padding: .9375rem 2rem;
  }

;
}

.btn_info {
	background: #3aa3e3 !important;
}

.btn_warning {
	background: #dfa941 !important;
}

.btn_danger {
	background: #cb5234 !important;
}

.btn_transparent {
	background: rgba(255, 255, 255, .25) !important;
}

.btn.btn_success {
	background-color: #56B68B;
}

.btn.btn_success.disabled,
.btn.btn_success: disabled {
	background-color: #56B68B !important;
}

.btn i {
	margin-right: .25rem;
}

.btn i: before {
	font-size: inherit;
vertical-align: bottom;
}

.btn_large i {
	margin-right: .5rem;
font-size: 18px;
}

.btn_extra_large i {
	vertical-align: middle;
  font-size: 1.25rem;
}

.btn_with_icon {
	position: relative;
  padding-left: 3rem !important;
}

.btn_with_icon i {
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: .5rem .75rem;
  border-right: 1px solid rgba(255, 255, 255, .5);
  background: rgba(0, 0, 0, .2);
  display: inline-block;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
  background-clip: padding-box;
  font-size: 1.4rem !important;
  line-height: 2.25rem;
}

.btn_icon {
	width: 2pc;
  height: 30px;
  padding: 0;
}

.btn_icon: before {
	display: block;
}

.btn.dropdown-toggle .caret {
	border-top-color: #fff;
}

.pill_btn {
	border-radius: 2rem;
  padding: 5px 13px 6px;
  font-weight: 600;
}

.pill_btn: after {
	border-radius: 2rem;
}

.pill_btn i {
	margin-right: .1rem;
}

.pill_btn.btn_small {
	padding: 3px 10px;
}

.pill_btn.btn_large {
	padding: 14px 2pc 1pc;
}

.pill_btn.btn_large i {
	margin-right: .4rem;
}

.btn.btn_attachment {
	vertical-align: middle;
  background-color: #fff !important;
  border: 1px solid rgba(160, 160, 162, .7);
  color: #565759;
  max-width: 150px;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  padding: 0 10px;
  margin: 0 8px 8px 0;
  text-shadow: none;
}

.btn.btn_attachment .emoji-outer {
	height: 1rem;
  margin-top: -5px;
  width: 1rem;
}

.btn.btn_attachment: focus,
.btn.btn_attachment: hover {
	color: #565759;
}

.btn.btn_attachment: focus: after,
.btn.btn_attachment: hover: after {
	box-shadow: 0 1px 2px rgba(160, 160, 162, .7);
}

.btn.btn_attachment: active {
	background-color: rgba(248, 249, 250, .6)!important;
box-shadow: inset 0 1px 2px rgba(160, 160, 162, .4);
}

.btn.btn_attachment: active: not(: hover): after {
	box-shadow: none !important;
}

.btn.btn_attachment: disabled {
	opacity: 1 !important;
  background-color: rgba(248, 249, 250, .6) !important;
  color: #a0a0a2 !important;
  border-color: rgba(186, 187, 191, .7) !important;
}

.btn.btn_attachment: disabled .emoji-outer {
	opacity: .4;
}

.btn.btn_attachment.loading {
	padding-right: 34px;
  position: relative;
}

.btn.btn_attachment.loading ts-inline-saver {
	color: #a0a0a2;
  margin-left: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.btn.btn_attachment.btn_primary {
	border-color: rgba(42, 178, 123, .7);
  color: #2ab27b;
}

.btn.btn_attachment.btn_primary: hover: : after {
	box-shadow: 0 1px 2px rgba(42, 178, 123, .7);
}

.btn.btn_attachment.btn_primary: active {
	background-color: rgba(248, 250, 249, .4);
box-shadow: inset 0 1px 2px rgba(42, 178, 123, .4);
}

.btn.btn_attachment.btn_danger {
	border-color: rgba(235, 77, 92, .7);
  color: #eb4d5c;
}

.btn.btn_attachment.btn_danger: hover: : after {
	box-shadow: 0 1px 2px rgba(235, 77, 92, .7);
}

.btn.btn_attachment.btn_danger: active {
	background-color: rgba(248, 246, 246, .3);
  box-shadow: inset 0 1px 2px rgba(235, 77, 92, .2);
}
