$blue-50: #e4f0f6;
$blue-100: #bcd9ea;
$blue-200: #8bbdd9;
$blue-300: #5ba4cf;
$blue-400: #298fca;
$blue-500: #0079bf;
$blue-600: #026aa7;
$blue-700: #055a8c;
$blue-800: #094c72;
$blue-900: #0c3953;

$green-50: #eef6ec;
$green-100: #d6ecd2;
$green-200: #b7ddb0;
$green-300: #99d18f;
$green-400: #7bc86c;
$green-500: #61bd4f;
$green-600: #5aac44;
$green-700: #519839;
$green-800: #49852e;
$green-900: #3f6f21;

$orange-50: #fdf5ec;
$orange-100: #fce8d2;
$orange-200: #fad8b0;
$orange-300: #fdc788;
$orange-400: #ffb968;
$orange-500: #ffab4a;
$orange-600: #e99e40;
$orange-700: #d29034;
$orange-800: #bb8129;
$orange-900: #a0711c;

$red-50: #fbedeb;
$red-100: #f5d3ce;
$red-200: #efb3ab;
$red-300: #ec9488;
$red-400: #ef7564;
$red-500: #eb5a46;
$red-600: #cf513d;
$red-700: #b04632;
$red-800: #933b27;
$red-900: #6e2f1a;

$yellow-50: #fdfae5;
$yellow-100: #faf3c0;
$yellow-200: #f5ea92;
$yellow-300: #f3e260;
$yellow-400: #f5dd29;
$yellow-500: #f2d600;
$yellow-600: #e6c60d;
$yellow-700: #d9b51c;
$yellow-800: #cca42b;
$yellow-900: #bd903c;

$purple-50: #f7f0fa;
$purple-100: #eddbf4;
$purple-200: #dfc0eb;
$purple-300: #d5a6e6;
$purple-400: #cd8de5;
$purple-500: #c377e0;
$purple-600: #a86cc1;
$purple-700: #89609e;
$purple-800: #6c547b;
$purple-900: #484553;

$pink-50: #fef2f9;
$pink-100: #fcdef0;
$pink-200: #fac6e5;
$pink-300: #ffb0e1;
$pink-400: #ff95d6;
$pink-500: #ff80ce;
$pink-600: #e76eb1;
$pink-700: #cd5a91;
$pink-800: #b44772;
$pink-900: #96304c;

$sky-50: #e4f7fa;
$sky-100: #bdecf3;
$sky-200: #8fdfeb;
$sky-300: #5dd3e5;
$sky-400: #29cce5;
$sky-500: #00c2e0;
$sky-600: #00aecc;
$sky-700: #0098b7;
$sky-800: #0082a0;
$sky-900: #006988;

$lime-50: #ecfbf3;
$lime-100: #d3f6e4;
$lime-200: #b3f1d0;
$lime-300: #90ecc1;
$lime-400: #6deca9;
$lime-500: #51e898;
$lime-600: #4fd683;
$lime-700: #4dc26b;
$lime-800: #4caf54;
$lime-900: #4a9839;

$light-gray-50: #f8f9f9;
$light-gray-100: #edeff0;
$light-gray-200: #e2e4e6;
$light-gray-300: #d6dadc;
$light-gray-400: #cdd2d4;
$light-gray-500: #c4c9cc;
$light-gray-600: #b6bbbf;
$light-gray-700: #a5acb0;
$light-gray-800: #959da1;
$light-gray-900: #838c91;

$dark-blue-50: #edeff4;
$dark-blue-100: #d2d7e5;
$dark-blue-200: #b2b9d0;
$dark-blue-300: #838fb5;
$dark-blue-400: #6170a1;
$dark-blue-500: #42548e;
$dark-blue-600: #3e4d80;
$dark-blue-700: #3a476f;
$dark-blue-800: #36405f;
$dark-blue-900: #30364c;

$white: #f0f0f6;
$black: #404b55;

// defined color classes

.light-gray-600 {
  color: $light-gray-600;
}
