// import the Lato font face (use Google fonts for now) 
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic);

// LOAD LINE ICONS (manually managed vendor file) =============================
@import 'vendor/simple-line-icons/simple-line-icons';

// font face stacks
$font-face-normal: 'Lato', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-face-mono:   "Monaco", "Consolas", "Courier New", "Lucida Console", monospace, mono;


// Basic Text weight definitions
$font-wt-light:       300;
$font-wt-normal:      400;
$font-wt-heavy:       700;
$font-wt-extra-heavy: 900;

// definition classes
.font-normal {
  font-family: $font-normal-stack;
}

.font-mono {
  font-family: $font-mono-stack;
}

.font-wt-light {
  font-weight: $font-wt-light;
}

.font-wt-normal {
  font-weight: $font-wt-normal;
}

.font-wt-heavy {
  font-weight: $font-wt-heavy;
}

.font-wt-extra-heavy {
  font-weight: $font-wt-extra-heavy;
}

.font-size-largest {
  font-size: 2em;
}

.font-size-larger {
  font-size: 1.5em;
}

.font-size-large {
  font-size: 1.25em;
}

.font-size-normal {
  font-size: 1em;
}

.font-size-small {
  font-size: .95em;
}

.font-size-smaller {
  font-size: .85em;
}

.font-size-smallest {
  font-size: .75em;
}
