
// form input defintions and styling.

// scss-lint:disable QualifyingElement, ColorVariable

input[type=text],
input[type=password],
select,
textarea {
//  -moz-appearance: none;
//  -webkit-appearance: none;
//  appearance: none;
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
  box-shadow: none;
  color: #555459;
  font-family: $font-family-base;
  font-size: 1.25rem;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-font-smoothing: antialiased;
  height: auto;
  line-height: normal;
  margin: 0 0 .5rem;
  max-width: 100%;
  outline: 0;
  padding: .75rem;
  //-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  //-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  width: 100%;
}

input[type=text]::-ms-clear,
input[type=password]::-ms-clear,
select::-ms-clear,
textarea::-ms-clear {
  display: none;
}

input[type=file] {
  font-family: sans-serif;
  font-size: 9pt;
  font-weight: 400;
  line-height: 9pt;
  width: auto;
  border: 2px dotted #00f;
}


//.no-touch input:hover,
//.no-touch select:hover,
//.no-touch textarea:hover
input:hover,
select:hover,
textarea:hover{
  border-color: #2780f8;
}

.focus,
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  border-color: #2780f8;
  box-shadow: 0 0 7px rgba(39, 128, 248, .15);
  outline: 0;
  outline-offset: 0;
}

textarea {
  font-size: 1.6rem;
  height: 81pt;
  line-height: 2rem;
  padding: .75rem .5rem .75rem .75rem;
  vertical-align: top;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
;}

input:disabled,
input:disabled:active,
select:disabled,
textarea:disabled {
  background: #f9f9f9;
  border-color: #c5c5c5; // !important;
  box-shadow: none;
  color: #9e9ea6;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
  float: none;
}

input.mod-error,
select.mod-error,
textarea.mod-error {
  background: #fff6f6;
  border: 1px solid #cb5234;
}

input:focus.mod-error,
select:focus.mod-error,
textarea:focus.mod-error {
  border-color: #cb5234;
  box-shadow: 0 0 7px rgba(255, 0, 0, .15);
}

select {
  //background: #fff;
  padding-right: 3rem;
  // line below "works". Check styling and make something locally downloaded.
  // also... http://red-team-design.com/making-html-dropdowns-not-suck/
  // and ... http://codepen.io/ericrasch/pen/zjDBx
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

//  NOTE: MUST INCLUDE overlfow definitions. Otherwise it will busticate
//  on Chrome. Ick.
select[multiple] {
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: scroll;

}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 .4rem;
}

label.checkbox,
label.radio {
  cursor: pointer;
  padding-left: 1.5rem;
}

label.checkbox input[type=radio],
label.checkbox input[type=checkbox],
label.radio input[type=radio],
label.radio input[type=checkbox] {
  margin: -2px .4rem 0 -1.5rem;
  vertical-align: middle;
}

label.mod-error {
  color: #cb5234;
}

label.disabled {
  color: #9e9ea6;
}

label select {
  margin-top: .25rem;
}

label select::-ms-expand {
  display: none;
}

label.select {
  position: relative;
}

label.select:after {
  bottom: 1.3rem;
  content: ' ';
  pointer-events: none;
  position: absolute;
  right: 1rem;
  background: url(../../img/down.png) no-repeat center transparent;
  width: 20px;
  height: 20px;
}

label.select.disabled:after {
  color: #9e9ea6;
}

//  hide the ugly OEM file input
//  CSS properties such as display: none or visibility: hidden will not work out.
//  the input value will not be sent to the server on form submit;  and the input
//  will be excluded out of tab order... width and height are set to 0.1px instead
//  of just 0px. Setting the property values to zero throws element out of tab
//  party in some browsers. And position: absolute guarantees the element does
//  not interfere with the sibling elements.
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

//  Styled directly from _buttons.scss

.input-file + label {
  background: linear-gradient(to bottom, $light-gray-200 0%, $light-gray-400 100%);
  border: 1px solid #aaa;
  border-radius: .25em;
  box-shadow: 0 1px 0 $light-gray-400;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-base;
  font-weight: $font-wt-extra-heavy;
  line-height: 1.2;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: .25em 1em;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  white-space: nowrap;
}

.input-file:focus + label,
.input-file + label:hover {
  background: linear-gradient(to bottom, $blue-300 0%, $blue-500 100%);
  color: $white;
}

.inputfile + label * {
  pointer-events: none;
}

.input-file:active + label {
    background: linear-gradient(to bottom, $blue-500 0%, $blue-700 100%);
}

.input-file[disabled] + label,
.input-file + label.disabled {
  background: $light-gray-100;
  box-shadow: none;
  box-shadow: 0 1px 0 $light-gray-400;
  color: $quiet;
  cursor: default;
  font-weight: 300;
}

.input-file + label > [class*="icon-"] {
  font-size: 1.1em;
  padding-right: .3em;
  vertical-align: -.1em;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-right: 5px;
}