
// form input defintions and styling.

// scss-lint:disable QualifyingElement, ColorVariable

input[type=url],
input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #c5c5c5;
  border-radius: .25rem;
  box-shadow: none;
  color: #555459;
  font-family: $font-family-base;
  font-size: 1.25rem;
  //-moz-osx-font-smoothing: grayscale;
  //-webkit-font-smoothing: antialiased;
  height: auto;
  line-height: normal;
  margin: 0 0 .5rem;
  max-width: 100%;
  outline: 0;
  padding: .75rem;
  //-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  //-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  width: 100%;
}

input[type=url]::-ms-clear,
input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear,
input[type=email]::-ms-clear,
input[type=password]::-ms-clear,
select::-ms-clear,
textarea::-ms-clear {
  display: none;
}

input[type=file] {
  font-family: sans-serif;
  font-size: 9pt;
  font-weight: 400;
  line-height: 9pt;
  width: auto;
}

.no-touch input:hover,
.no-touch select:hover,
.no-touch textarea:hover {
  border-color: #2780f8;
}

.focus,
input[type=url]:active,
input[type=url]:focus,
input[type=text]:active,
input[type=text]:focus,
input[type=number]:active,
input[type=number]:focus,
input[type=email]:active,
input[type=email]:focus,
input[type=password]:active,
input[type=password]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  border-color: #2780f8;
  box-shadow: 0 0 7px rgba(39, 128, 248, .15);
  outline: 0;
  outline-offset: 0;
}

textarea {
  font-size: 1.6rem;
  height: 81pt;
  line-height: 2rem;
  padding: .75rem .5rem .75rem .75rem;
  vertical-align: top;
  width: 100%;
}

textarea.small {
  padding: .5rem;
}

::-webkit-input-placeholder {
  color: #aaa;
}

:-moz-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
;}

input:disabled,
input:disabled:active,
select:disabled,
textarea:disabled {
  background: #f9f9f9;
  border-color: #c5c5c5; // !important;
  box-shadow: none;
  color: #9e9ea6;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
  float: none;
}

.error input,
.error select,
.error textarea {
  background: #fff6f6;
  border: 1px solid #cb5234;
}

.error input:focus,
.error select:focus,
.error textarea:focus {
  border-color: #cb5234;
  box-shadow: 0 0 7px rgba(255, 0, 0, .15);
}

select {
  background: #fff;
  padding-right: 3rem;
  // line below "works". Check styling and make something locally downloaded.
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
}

label {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 .4rem;
}

label.checkbox,
label.radio {
  cursor: pointer;
  padding-left: 1.5rem;
}

label.checkbox input[type=radio],
label.checkbox input[type=checkbox],
label.radio input[type=radio],
label.radio input[type=checkbox] {
  margin: -2px .4rem 0 -1.5rem;
  vertical-align: middle;
}

label.disabled {
  color: #9e9ea6;
}

label select {
  margin-top: .25rem;
}

label select::-ms-expand {
  display: none;
}

label.select {
  position: relative;
}

label.select:after {
  bottom: 22px;
  content: '\E271';
  font-family: $font-family-base;
  font-size: 20px;
  pointer-events: none;
  position: absolute;
  right: 22px;
}

label.select.with-hint:after {
  bottom: 14px;
}

label.select.with-hint.small:after {
  bottom: 6px;
}

label.select.disabled:after {
  color: #9e9ea6;
}
