
.u-heavy {
  font-weight: $font-wt-heavy;
}

.u-extra-heavy {
  font-weight: $font-wt-extra-heavy;
}

.u-blue-700 {
  color: $blue-700;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}