@import 'main';


// Palette support

.palette-section {
	margin-bottom: 1.5em;
	text-align: center;
	margin: 0 auto;
	max-width: 1400px;
}

.palette-item {
	display: inline-block;
	font-size: .8em;
	margin: 8px;
	text-align: left;
	vertical-align: top;
	width: 200px
}

.palette-item-color {
	box-sizing: border-box;
	padding:.3em .6em;
	position:relative
}

.palette-item-color:first-child {
	border-radius: .4em .4em 0 0
}

.palette-item-color:last-child {
	border-radius: 0 0 .4em .4em
}

.palette-item-color-header {
	margin: 0;
	padding-bottom: 1em
}

.palette-item-color-weight{
	margin: 0
}

.palette-item-color-hex {
	margin: 0;
	position: absolute;
	bottom: .3em;
	right: .6em
}

// styleguide customizations for the styleguide.


#datepicker {
  background: #f7f7f7;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
  border-radius: 3px;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  input {
    margin-bottom: 15px;
  }

  .datepicker-inline {
    width: 100%;
  }

  .datepicker table {
    width: 100% !important;
  }
}


/* For example */

.example + .example {
  margin-top: 00px;
}

