
// Imports
@import 'core';
@import 'vendor/highlight/xcode';



// Layout

.container {
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
}

.container-content {
  background-color: $white;
  width: 100%;
  max-width: 50rem;
}



// Document-wide overrides of Core

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, kbd, pre, samp {
	font-family: $font-face-mono;
}



// Support for Color Palette

.palette-section {
  margin: 0 auto;
  margin-bottom: 1.5em;
  max-width: 1400px;
  text-align: center;
}

.palette-item {
  display: inline-block;
  font-size: .8em;
  margin: 8px;
  text-align: left;
  vertical-align: top;
  width: 200px;
}

.palette-item-color {
  box-sizing: border-box;
  padding: .3em .6em;
  position: relative;
}

.palette-item-color:first-child {
  border-radius: .4em .4em 0 0;
}

.palette-item-color:last-child {
  border-radius: 0 0 .4em .4em;
}

.palette-item-color-header {
  margin: 0;
  padding-bottom: 1em;
}

.palette-item-color-weight {
  margin: 0;
}

.palette-item-color-hex {
  bottom: .3em;
  margin: 0;
  position: absolute;
  right: .6em;
}



// For example
//   TODO: Where is this used?
.example + .example {
  margin-top: 00px;
}



// Code sample styling 

.code-sample {
  margin-bottom: 50px;
  margin-top: 20px;
}
