
// TODO...
// .example {
//
//}

.example-code {
  font-family: $font-family-base;
  margin-bottom: 50px;
  margin-top: 20px;
}

.example-code pre, {
  margin-top: ($font-scale-factor / 2);
}

.example-code.mod-scroll pre {
  margin-top: ($font-scale-factor / 2);
  max-height: 350px;
  overflow-y: scroll;
}

.example-code.mod-tight {
  margin-bottom: 0;
}

.example-font {
  color: $black;
  font-family: $font-family-base;
  font-weight: $font-wt-base;
}

.example-font-desc {
  color: $light-gray-700;
}

.example-font.mod-light {
  font-weight: $font-wt-light;
}

.example-font.mod-heavy {
  font-weight: $font-wt-heavy;
}

.example-font.mod-extra-heavy {
  font-weight: $font-wt-extra-heavy;
}

.example-font.mod-monospace {
  font-family: $font-family-monospace;
}

.example-font.mod-size-36 {
  font-size: 3.6rem;
  letter-spacing: -1px;
}

.example-font.mod-size-24 {
  font-size: 2.4rem;
  letter-spacing: -1px;
}

.example-font.mod-size-18 {
  font-size: 1.8rem;
  letter-spacing: -1px;
}

.example-font.mod-size-16 {
  font-size: 1.6rem;
}

.example-font.mod-size-12 {
  font-size: 1.2rem;
}

.example-font.mod-size-10 {
  font-size: 1rem;
}

.example-font.mod-size-8 {
  font-size: .8rem;
}

// special modifiers to the exmample-code class
.example-code.mod-narrow-select > .select {
  width: 60px;
}

.example-code.mod-narrow-multi > select {
  width: 60px;
}

.date-range-picker > input,
.prefilled-picker > input,
.button-picker > input,
.datebutton > input {
  width: 125px;
}


