@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,700italic);

// Basic Text weight definitions
$font-light:       300;
$font-normal:      400;
$font-heavy:       700;
$font-extra-heavy: 900;